*{
    padding: 0;
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed&display=swap');
    font-family: 'Poppins', sans-serif;
}
.main{
    background: #000000;
    height: 100vh;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 175px;
}
h1{
    font-size: 67px;
    font-weight: 100;
}
span{
    font-weight: 900;
}
img{
    height: 33rem;
    padding-right: 50px;
}
p{
    padding-left: 10px;
    font-size: 20px;
}
button{
    background: #5F0103;
    color: white;
    width: 215px;
    height: 44px;
    margin-left: 5px;
    font-size: 16px;
}
