*{
    padding: 0;
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed&display=swap');
    font-family: 'Poppins', sans-serif;
}
.main{
    background: #000000;
    height: 100vh;
    color: white;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 175px;
}
h1{
    font-size: 30px;
    font-weight: 700;
}
img{
    height: 34rem;
    padding-right: 60px;
    padding-bottom: 10px;
}
label{
    font-size: small;
}
button{
    background: #5F0103;
    color: white;
    width: 245px;
    height: 40px;
}
.form{
    height: 430px;
    width: 300px;
    border: white solid 1px;
    border-radius: 10px;
    padding-left: 50px;
    padding-top: 27px;
}
p{
    font-size: small;
    padding-left: 12px;
}
span{
    font-weight: 900;
}
input{
    width: 230px;
    height: 30px;
    padding-left: 8px;
}
